<!DOCTYPE html>
<html>
<head>
    <title>Movie Review Sentiment Analysis</title>
    <!-- External CSS file for styling -->
    <link rel="stylesheet" type="text/css" href="static/styles.css">
</head>
<body>
    <div class="container"> 
        <form action="/predict" method="POST">
             <!-- Heading -->
        <h1>Movie Review Sentiment Analysis</h1>

        <!-- Input for the name of the movie being reviewed -->
        <label for="movieName">Movie Name:</label>
        <input type="text" name="movieName" class="input-box" placeholder="Enter Movie Name" required>

        <!-- Input for the movie review -->
        <label for="review">Movie Review:</label>
        <textarea name="review" class="input-box" rows="6" placeholder="Enter Your Review" required></textarea>

        <!-- Button to trigger sentiment analysis --> 
        <input type="submit" id="btn" value="Analyze Sentiment"/>
        </form>
        </div class="btn"> 
            <h2>
                {% if sentiment %} 
                    Sentiment Analysis Result: {{ sentiment }}
                {% endif %}
            </h2>
        <div>

    </div>
</body>
</html>
